pip==9.0.1
bumpversion==0.5.3
wheel==0.30.0
watchdog==0.8.3
flake8==3.5.0
tox==2.9.1
Sphinx==1.7.0
coverage==4.4.2
#cryptography==1.9
#PyYAML==3.12
sphinxcontrib-napoleon==0.6.1
ipython==5.3.0 # pyup: ignore
#flake8-pep257==1.0.5
pytest==3.3.2
pep8==1.7.1
isort==4.3.4
yapf==0.20.2
stevedore>=1.25.0  # not sure, but if that isn't in requirements python setup.py develop fails


